.direnv/
.pre-commit-config.yaml
template.txt

# Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out
vendor/
terraform-provider-k0s

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform.rc
.terraform.lock.hcl
crash.log
crash.*.log
